workflows/main-orchestrator.json
{
  "name": "Import Margin Calculator - Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calculate-margin",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ $json.body.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-input-type",
      "name": "Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maerschalk.app.n8n.cloud/webhook/search-german-markets",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.body.url }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-german-parser",
      "name": "Parse German Listing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "jsCode": "// Use manual input data directly\nconst input = $input.first().json.body;\n\nconst vehicleData = {\n  make: input.make || '',\n  model: input.model || '',\n  year: parseInt(input.year) || new Date().getFullYear(),\n  mileage_km: parseInt(input.mileage_km) || 0,\n  price_eur: parseFloat(input.price_eur) || 0,\n  fuelType: input.fuelType || 'petrol',\n  transmission: input.transmission || 'manual',\n  co2_gkm: parseInt(input.co2_gkm) || 120,\n  firstRegistrationDate: input.firstRegistrationDate \n    ? new Date(input.firstRegistrationDate) \n    : new Date(parseInt(input.year) || new Date().getFullYear(), 0, 1),\n  listingUrl: '',\n  source: 'manual'\n};\n\nreturn { json: vehicleData };"
      },
      "id": "process-manual-input",
      "name": "Process Manual Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-vehicle-data",
      "name": "Merge Vehicle Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://maerschalk.app.n8n.cloud/webhook/search-dutch-market",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $json }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "search-dutch-market",
      "name": "Search Dutch Market",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// BPM Calculator (2026 rates with Forfaitaire Tabel)\n\n// Get input data\nconst inputData = $input.first().json;\nconst dutchMarket = inputData.comparables ? inputData : { comparables: [], statistics: {} };\n\n// Get vehicle data from the body that was passed through\nlet germanVehicle;\nif (inputData.body) {\n  // Manual input case - data is in body\n  const body = inputData.body;\n  germanVehicle = {\n    make: body.make,\n    model: body.model,\n    year: parseInt(body.year),\n    mileage_km: parseInt(body.mileage_km),\n    price_eur: parseFloat(body.price_eur),\n    fuelType: body.fuelType,\n    transmission: body.transmission,\n    co2_gkm: parseInt(body.co2_gkm),\n    firstRegistrationDate: body.firstRegistrationDate,\n    listingUrl: '',\n    source: 'manual'\n  };\n} else if (inputData.make) {\n  // Data is at root level\n  germanVehicle = inputData;\n} else {\n  throw new Error('Could not find vehicle data in input');\n}\n\n// 2026 BPM CO2 Tariff Brackets\nconst DIESEL_SURCHARGE_THRESHOLD = 70;\nconst DIESEL_SURCHARGE_RATE = 109.87;\n\n// Forfaitaire Depreciation Table (2026)\nconst DEPRECIATION_TABLE = [\n  { maxMonths: 3, percentage: 0 },\n  { maxMonths: 6, percentage: 24 },\n  { maxMonths: 9, percentage: 33 },\n  { maxMonths: 18, percentage: 42 },\n  { maxMonths: 24, percentage: 49 },\n  { maxMonths: 36, percentage: 56 },\n  { maxMonths: 48, percentage: 63 },\n  { maxMonths: 60, percentage: 70 },\n  { maxMonths: 72, percentage: 76 },\n  { maxMonths: 84, percentage: 81 },\n  { maxMonths: 96, percentage: 85 },\n  { maxMonths: 108, percentage: 88 },\n  { maxMonths: 120, percentage: 90 },\n  { maxMonths: Infinity, percentage: 92 },\n];\n\nfunction monthsBetween(startDate, endDate) {\n  const years = endDate.getFullYear() - startDate.getFullYear();\n  const months = endDate.getMonth() - startDate.getMonth();\n  return years * 12 + months;\n}\n\nfunction getDepreciationPercentage(ageMonths) {\n  for (const bracket of DEPRECIATION_TABLE) {\n    if (ageMonths <= bracket.maxMonths) {\n      return bracket.percentage;\n    }\n  }\n  return 92;\n}\n\nfunction calculateGrossBPM(co2_gkm) {\n  const baseBPM = 667;\n  if (co2_gkm === 0) return { baseBPM, co2BPM: 0, total: baseBPM };\n\n  let co2BPM = 0;\n  if (co2_gkm > 79) co2BPM += (Math.min(co2_gkm, 124) - 79) * 6.68;\n  if (co2_gkm > 124) co2BPM += (Math.min(co2_gkm, 169) - 124) * 67.40;\n  if (co2_gkm > 169) co2BPM += (Math.min(co2_gkm, 199) - 169) * 159.61;\n  if (co2_gkm > 199) co2BPM += (co2_gkm - 199) * 490.91;\n\n  return {\n    baseBPM,\n    co2BPM: Math.round(co2BPM * 100) / 100,\n    total: Math.round((baseBPM + co2BPM) * 100) / 100,\n  };\n}\n\nfunction calculateDieselSurcharge(co2_gkm, fuelType) {\n  if (fuelType !== 'diesel' || co2_gkm <= DIESEL_SURCHARGE_THRESHOLD) return 0;\n  return Math.round((co2_gkm - DIESEL_SURCHARGE_THRESHOLD) * DIESEL_SURCHARGE_RATE * 100) / 100;\n}\n\n// Calculate BPM\nconst firstRegDate = new Date(germanVehicle.firstRegistrationDate);\nconst now = new Date();\nconst vehicleAgeMonths = monthsBetween(firstRegDate, now);\nconst depreciationPct = getDepreciationPercentage(vehicleAgeMonths);\nconst grossBPM = calculateGrossBPM(germanVehicle.co2_gkm);\nconst dieselSurcharge = calculateDieselSurcharge(germanVehicle.co2_gkm, germanVehicle.fuelType);\nconst totalGrossBPM = grossBPM.total + dieselSurcharge;\nconst restBPM = Math.round(totalGrossBPM * (1 - depreciationPct / 100) * 100) / 100;\n\nreturn {\n  json: {\n    germanVehicle,\n    dutchMarket,\n    bpm: {\n      grossBPM: grossBPM.total,\n      dieselSurcharge,\n      totalGrossBPM,\n      vehicleAgeMonths,\n      depreciationPercentage: depreciationPct,\n      restBPM\n    }\n  }\n};"
      },
      "id": "calculate-bpm",
      "name": "Calculate BPM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Margin Calculator\nconst data = $input.first().json;\nconst { germanVehicle, dutchMarket, bpm } = data;\n\n// Default import costs\nconst IMPORT_COSTS = {\n  transport: 450,\n  rdwInspection: 85,\n  licensePlates: 50,\n  handlingFee: 200,\n  napCheck: 12.95\n};\n\n// Calculate Dutch market value (average of comparables)\nconst comparables = dutchMarket.comparables || [];\nlet dutchMarketValue = dutchMarket.statistics?.averagePrice || 0;\n\nif (comparables.length > 0 && dutchMarketValue === 0) {\n  const prices = comparables.map(c => c.price_eur).filter(p => p > 0);\n  dutchMarketValue = prices.length > 0 \n    ? Math.round(prices.reduce((a, b) => a + b, 0) / prices.length)\n    : 0;\n}\n\n// Calculate total import costs\nconst totalImportCosts = \n  IMPORT_COSTS.transport +\n  IMPORT_COSTS.rdwInspection +\n  IMPORT_COSTS.licensePlates +\n  IMPORT_COSTS.handlingFee +\n  IMPORT_COSTS.napCheck;\n\n// Calculate total cost\nconst totalCost = germanVehicle.price_eur + bpm.restBPM + totalImportCosts;\n\n// Calculate margin\nconst margin = dutchMarketValue - totalCost;\nconst marginPercentage = totalCost > 0 ? (margin / totalCost) * 100 : 0;\n\n// Determine recommendation\nlet recommendation = 'NO_GO';\nif (margin >= 2500) recommendation = 'GO';\nelse if (margin >= 1000) recommendation = 'CONSIDER';\n\n// Build result\nconst result = {\n  vehicle: {\n    description: `${germanVehicle.year} ${germanVehicle.make} ${germanVehicle.model}`,\n    make: germanVehicle.make,\n    model: germanVehicle.model,\n    year: germanVehicle.year,\n    mileage_km: germanVehicle.mileage_km,\n    fuelType: germanVehicle.fuelType,\n    transmission: germanVehicle.transmission,\n    co2_gkm: germanVehicle.co2_gkm,\n    ageMonths: bpm.vehicleAgeMonths,\n    source: germanVehicle.source,\n    listingUrl: germanVehicle.listingUrl\n  },\n  \n  pricing: {\n    germanPrice: germanVehicle.price_eur,\n    dutchMarketValue: dutchMarketValue,\n    comparablesCount: comparables.length\n  },\n  \n  bpm: {\n    grossBPM: bpm.totalGrossBPM,\n    depreciationPercentage: bpm.depreciationPercentage,\n    restBPM: bpm.restBPM,\n    dieselSurcharge: bpm.dieselSurcharge\n  },\n  \n  costs: {\n    germanPrice: germanVehicle.price_eur,\n    bpm: bpm.restBPM,\n    transport: IMPORT_COSTS.transport,\n    rdwInspection: IMPORT_COSTS.rdwInspection,\n    licensePlates: IMPORT_COSTS.licensePlates,\n    handlingFee: IMPORT_COSTS.handlingFee,\n    napCheck: IMPORT_COSTS.napCheck,\n    totalImportCosts: totalImportCosts,\n    totalCost: totalCost\n  },\n  \n  result: {\n    margin: Math.round(margin * 100) / 100,\n    marginPercentage: Math.round(marginPercentage * 100) / 100,\n    recommendation: recommendation\n  },\n  \n  comparables: comparables.slice(0, 5), // Top 5 comparables\n  calculatedAt: new Date().toISOString()\n};\n\nreturn { json: result };"
      },
      "id": "calculate-margin",
      "name": "Calculate Margin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": true,\n  \"message\": \"{{ $json.message || 'Calculation failed' }}\",\n  \"details\": {{ JSON.stringify($json) }}\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL?": {
      "main": [
        [
          {
            "node": "Parse German Listing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Manual Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse German Listing": {
      "main": [
        [
          {
            "node": "Merge Vehicle Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Manual Input": {
      "main": [
        [
          {
            "node": "Merge Vehicle Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Vehicle Data": {
      "main": [
        [
          {
            "node": "Search Dutch Market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Dutch Market": {
      "main": [
        [
          {
            "node": "Calculate BPM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate BPM": {
      "main": [
        [
          {
            "node": "Calculate Margin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Margin": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "driving-passion-arbitrage"
  },
  "pinData": {},
  "tags": [
    {
      "name": "driving-passion",
      "createdAt": "2026-01-25T00:00:00.000Z",
      "updatedAt": "2026-01-25T00:00:00.000Z"
    }
  ]
}
